:root {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

.loader {
  display: flex;
  align-items: center;
  justify-content: center; }
  .loader h1 {
    color: #fafafa;
    padding: 1rem 2rem;
    text-align: center;
    background: blue; }

.movie-card {
  display: flex;
  justify-content: flex-start;
  width: 11vw;
  height: 15.95vw;
  min-width: 130px;
  min-height: 188.5px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
  transition: width .3s ease, height .3s ease;
  transition-delay: width .05s, height .05s; }

.movie-card:hover .sidebar {
  opacity: 1;
  width: 36px;
  transform: scale(1, 1); }

.movie-card:hover .sidebar-icons {
  opacity: 1; }

.sidebar {
  fill: #222;
  color: #222;
  opacity: 0;
  width: 36px;
  min-width: 36px;
  transform: scale(0.25, 0.8);
  margin-right: -18px;
  margin-top: 18px;
  transform-origin: left;
  text-align: center;
  background-color: #fafafa;
  align-self: flex-end;
  transition: all 0.25s cubic-bezier(0, 0, 0.54, 1.1), opacity 0.15s ease-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0; }

.sidebar-icons a:visited,
.sidebar-icons a-webkit-any-link:visited {
  fill: #222 !important; }

.icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px; }

.icon svg {
  transition: transform 0.2s cubic-bezier(0, 0, 0.54, 2); }

.sidebar-icons .icon:hover {
  fill: #fafafa;
  background-color: blue;
  cursor: pointer; }

.sidebar-icons .icon:active svg {
  transform: scale(0.9);
  transition: transform 0.1s ease; }

/* Hmmmm */
.info {
  opacity: 0;
  display: none;
  box-sizing: border-box;
  background-color: blue;
  color: white;
  width: 11vw;
  height: 15.95vw;
  position: absolute;
  padding: .5rem;
  transition: opacity .3s ease-out, display 0s;
  overflow-y: scroll;
  cursor: default; }

.info::-webkit-scrollbar {
  background-color: transparent;
  width: 5px; }

.info::-webkit-scrollbar-thumb {
  background-color: #fafafa; }

.info h1 {
  margin: 0;
  margin-top: .25rem;
  font-size: 18px; }

.info p {
  font-size: 14px; }

#container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "filters header"  "filters moviegrid"; }

#header {
  grid-area: header;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  height: 100px; }

#search {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.05);
  transition: transform .15s ease-out, box-shadow .3s ease-out; }

#search:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1); }

#filters {
  display: grid;
  grid-area: filters;
  width: 250px;
  height: 100%;
  background-color: white;
  color: #444;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.04); }

#filter-components {
  margin: 1rem; }

#filter-components h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px; }

#grid {
  display: grid;
  grid-area: moviegrid;
  grid-template-columns: repeat(auto-fit, 11vw);
  grid-gap: 1.5rem;
  padding: 3rem;
  padding-top: 1.5rem;
  align-items: center;
  justify-content: space-evenly; }

#home-logo {
  width: 100%;
  height: 2rem;
  background-color: #fafafa;
  color: #5326d9;
  text-align: center;
  user-select: none;
  cursor: pointer; }

#home-logo:hover {
  background-color: #bffae9; }

#home-logo h1 {
  margin: .4rem 0 0 0;
  font-size: 18px; }

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa; }

#pagination {
  grid-area: pagination;
  margin: 1.5rem; }

#pagination span {
  font-size: 18px;
  margin: 0 .2rem;
  background-color: blue;
  color: #fafafa;
  padding: .5rem 1rem;
  cursor: pointer;
  user-select: none; }

.movie-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.99);
  transition: opacity .5s ease, transform .4s ease-out; }

.movie-backdrop {
  display: flex;
  justify-content: center;
  background: #fafafa;
  color: white;
  width: 100vw;
  height: 600px;
  background-size: cover;
  background-position: 0 32.5%; }

.movie-backdrop-color-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.movie-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  max-width: 900px; }

.movie-title {
  width: 100%;
  background: #fafafa;
  color: #444;
  align-self: flex-end;
  text-align: center; }

.movie-text-info {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  max-width: 600px;
  color: white;
  line-height: 1.5;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.35); }

.movie-text-info h1 {
  font-size: 32px;
  margin: 0; }

.movie-overview {
  display: flex; }

.movie-poster {
  width: 225px;
  min-width: 225px;
  height: calc(225px * 1.45);
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  margin-right: 2rem; }

.rating {
  margin-right: 1rem; }

.release-year {
  margin-left: 1rem;
  font-size: .75em; }

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.95px 0; }

input[type=range].slider:focus {
  outline: none; }

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  background: #ddd;
  border-radius: 25px; }

input[type=range].slider::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #444;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.95px; }

input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  background: #ddd;
  border-radius: 25px;
  border: 0px solid rgba(24, 61, 1, 0); }

input[type=range].slider::-moz-range-thumb {
  box-shadow: 2.6px 2.6px 3.7px rgba(0, 164, 0, 0), 0px 0px 2.6px rgba(0, 190, 0, 0);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #444;
  cursor: pointer; }

input[type=range].slider::-ms-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range].slider::-ms-fill-lower {
  background: rgba(62, 62, 62, 0.39);
  border: 0px solid rgba(24, 61, 1, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0); }

input[type=range].slider::-ms-fill-upper {
  background: rgba(126, 126, 126, 0.39);
  border: 0px solid rgba(24, 61, 1, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0); }

input[type=range].slider::-ms-thumb {
  box-shadow: 2.6px 2.6px 3.7px rgba(0, 164, 0, 0), 0px 0px 2.6px rgba(0, 190, 0, 0);
  border: 0px solid rgba(134, 135, 132, 0);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #434443;
  cursor: pointer;
  height: 4.1px; }

input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(126, 126, 126, 0.39); }

input[type=range].slider:focus::-ms-fill-upper {
  background: rgba(190, 190, 190, 0.39); }

@media (max-width: 960px) {
  #container {
    display: block; }
  #filters {
    display: none; }
  #grid {
    grid-template-columns: repeat(auto-fit, 18vw);
    padding: 1.5rem; }
  .movie-card {
    width: 18vw;
    height: 26.1vw; } }

@media (max-width: 620px) {
  #container {
    display: block; }
  #filters {
    display: none; }
  #grid {
    grid-template-columns: repeat(auto-fit, 30vw);
    padding: 1.5rem; }
  .movie-card {
    width: 30vw;
    height: 43.5vw; } }
