$width: 14vw;
$min-width: 130px;
$height: $width * 1.45;
$min-height: $min-width * 1.45;
$grid-gap: 1.5rem;
$filters-width: 250px;
$primary: hsl(180, 70, 45);
$light: #fafafa;
$secondary: #EDEBFA;
$primary-dark: adjust-hue(desaturate($primary, 30%), 15deg);
$filters: $primary;
$font-color: lighten($primary, 45%);
$grid-background-color: change-color($color: $primary, $saturation: 30%, $lightness: 98%);
$header-height: 100px;
$font-family: 'Open Sans', sans-serif;

:root {
  font-family: $font-family;
  box-sizing: border-box;
}

.movie-card {
  display: flex;
  width: $width;
  height: $height;
  min-width: $min-width;
  min-height: $min-height;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 0px 25px change-color($color: darken($primary, 10%), $alpha: .3);
}

.movie-card:hover .sidebar {
  opacity: 1;
  width: 36px;
  transform: scale(1, 1);
}

.sidebar {
  fill: $light;
  opacity: 0;
  width: 36px;
  transform: scale(.25, .8);
  transform-origin: left;
  text-align: center;
  background-color: $primary;
  margin-right: -18px;
  margin-top: 46%;
  align-self: flex-end;
  transition: all 0.2s ease, opacity .15s ease-out;
  box-shadow: 0 0 15px change-color($color: darken($primary, 10%), $alpha: .3);
}

.sidebar-icons {
  opacity: 0;
}

.movie-card:hover .sidebar-icons {
  opacity: 1;
}

.icon {
  padding-top: 4px;
}


.sidebar-icons .icon:hover {
  fill: $primary;
  background-color: $light;
  cursor: pointer;
}

.sidebar-icons .icon:active svg {
  transform: scale(.925);
}

/* Hmmmm */
.info {
  opacity: 0;
  display: none;
  box-sizing: border-box;
  background-color: $primary;
  color: white;
  width: $width;
  height: $height;
  position: absolute;
  padding: .5rem;
  transition: opacity .3s ease-out, display 0s;
  overflow-y: scroll;
  cursor: default;
}

.info::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.info::-webkit-scrollbar-thumb {
  background-color: $light;
}

.info h1 {
  margin: 0;
  margin-top: .25rem;
  font-size: 18px;
}

.info p {
  font-size: 14px;
}

#container {
  display: grid;
  // width: 100vw;
  grid-template-columns: $filters-width 1fr;
  grid-template-areas: "filters header" 
                       "filters moviegrid"
                       "filters pagination"
                       "filters footer";
  // justify-content: space-around;
}

#header {
  grid-area: header;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  height: $header-height;
}

#search {
  font-family: $font-family;
  width: 50%;
  padding: 1rem;
  margin-left: 2rem;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border-left: 4px solid $primary;
  box-shadow: 0 0 25px change-color($color: darken($primary, 10%), $alpha: .1);
}

#filters {
  display: grid;
  grid-area: filters;
  width: $filters-width;
  height: 100%;
  background-color: $primary;
  color: $font-color;
  box-shadow: 0 0 25px change-color($color: darken($primary, 10%), $alpha: .2);
}

#filter-components {
  margin: 1rem;
}

#filter-components h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

#grid {
  display: grid;
  grid-area: moviegrid;
  grid-template-columns: repeat(auto-fit, $width);
  grid-gap: $grid-gap;
  padding: $grid-gap * 2;
  padding-top: $grid-gap;
  // margin: $grid-gap * 2;
  align-items: center;
  justify-content: space-evenly;
}

#home-logo {
  width: 100%;
  height: 2rem;
  background-color: $light;
  color: $primary-dark;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

#home-logo:hover {
  background-color: #bffae9;
}

#home-logo h1 {
  margin: .4rem 0 0 0;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $grid-background-color;
}

#pagination {
  grid-area: pagination;
  margin: $grid-gap;
}

#pagination span {
  font-size: 18px;
  margin: 0 .2rem;
  background-color: $primary;
  color: $light;
  padding: .5rem 1rem;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 1250px) {
  #grid {
    grid-template-columns: repeat(auto-fit, $min-width);
  }
}